/* Estilos generales */
* {
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos de la cabecera */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
}

/* Estilos de los botones */

.button-container {
  text-align: center;
}

.button-container button {
  margin: 10px;
}

.stripe-button-el {
  margin: 20px auto;
  display: block;
  text-align: center;
}

.stripe-button-el span {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.stripe-button-el span:hover {
  background-color: #5d6ad4;
}

.paypal-button-container {
  margin: 20px auto;
  display: block;
  text-align: center;
}

/* Estilos del pie de página */
.footer {
  text-align: center;
  margin-top: 30px;
}

.footer p {
  margin: 0;
  font-size: 0.8rem;
  color: #555;
}

.footer span {
  color: red;
}


#clock {
  font-size: 16px;
  font-weight: 600;
}
